@media (max-width: 345px) {
  h2,
  h3,
  h4 {
    font-size: 50%;
  }
  #nav-bar {
    text-align: center;
    font-size: 70%;
  }
  #container-target h2 {
    padding-left: 0%;
    padding-top: 5%;
  }
  #container-job-info {
    font-size: 80%;
    padding: 0% 0% 0% 5%;
    margin: 0%;
    align-items: 70%;
  }
  #certificate {
    margin-top: 90%;
  }
  #container-project {
    grid-template-columns: 99%;
    padding-left: 1%;
    font-size: 90%;
  }
  #footer {
    margin-top: 30%;
  }
}
