@media (max-width: 576px) {
  #container-target {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  #target {
    padding: 10% 0% 10% 10%;
    margin: 0%;
  }
  #personal-info {
    padding: 10% 0% 10% 10%;
    margin-bottom: 0.5%;
  }
  #container-job-info {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 2%;
  }
  #section-certificate {
    display: grid;
    grid-template-columns: 90%;
  }
  #certificate {
    margin: 60% 0% 5% 0%;
  }
  #project {
    display: grid;
    grid-template-columns: 97%;
    padding-left: 10%;
  }
  .container-project h2 {
    padding-left: 10%;
  }
}
@media (max-width: 345px) {
  h2,
  h3,
  h4 {
    font-size: 50%;
  }
  #nav-bar {
    text-align: center;
    font-size: 70%;
  }
  #container-target h2 {
    padding-left: 0%;
    padding-top: 5%;
  }
  #container-job-info {
    font-size: 80%;
    padding-left: 5%;
    align-items: 70%;
  }
  #certificate {
    margin-top: 90%;
  }
  #container-project {
    grid-template-columns: 99%;
    padding-left: 1%;
    font-size: 90%;
  }
}
