@media (max-width: 768px) and (min-width: 492px) {
  .container-job-info {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    margin: 10% 0% 30% 0%;
  }
  .container-project {
    padding-left: 1%;
  }
}
